<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{contador}}</h2>
  </div>
</div>

<!-- Sin reducer -->
 <div class="row text-center">
  <div class="col">
    <button (click)="incrementar()"class="btn btn-primary">Incrementar</button>
    <button (click)="decrementar()"class="btn btn-info">Decrementar</button>
  </div>
</div>


<hr>
<div class="row text-center">
  <div class="col">
    <!-- sin reducer -->
    <!-- <app-hijo [contador]="contador"(cambioContador)="contador = $event" ></app-hijo> -->
    <!-- con reducer -->
    <app-hijo></app-hijo>
  </div>
</div> 

